.snap-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
}



.canvas-wrapper {
  position: absolute;
  inset: 0;      /* top:0 left:0 right:0 bottom:0 */
  width: 100%;
  height: 100%;
  z-index: 1;    /* زیر محتوا */
}

/* محتوا بالای انیمیشن */
.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

/* SECTION 2 & 3 */
.section-two {
  background: #490361;
}

.section-three {
  background: #1e88e5;
}

/* Fade-in title */
.fade-in-title {
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}

/* Slogans */
.slogan-list {
  margin-top: 20px;
}

.slogan-item {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeSlide 1s ease forwards;
}

/* Delay classes */
.delay-0 { animation-delay: 0.4s; }
.delay-1 { animation-delay: 0.7s; }
.delay-2 { animation-delay: 1s; }
.delay-3 { animation-delay: 1.3s; }

/* Fade-in button */
.fade-in-button {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.8s;
  margin-top: 25px;
}

/* Keyframes */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-two-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-row {
  display: flex;
  gap: 20px;
}

.info-card {
  padding: 20px;
  border-radius: 14px;
  background: #333;
  color: white;
  opacity: 0.4;
  transition: 0.35s ease;
  transform: scale(0.9);
}

.info-card.active {
  background: #5227ff;
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(82, 39, 255, 0.7);
}
