.ss-container {
  padding-top: 40vh;
  padding-bottom: 60vh;
  position: relative;
}

.ss-wrapper {
  position: relative;
  margin: 200px 0;
  transition: transform 0s;
}

.ss-card {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  min-height: 250px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  transform-origin: top center;
}
