/* wrapper و toolbar-bottom را نگه دار */
.toolbar-bottom {
  display: flex;
  padding: 11px 12px 12px;
  position: fixed;
  z-index: 200;
  bottom: -1px;
  right: -1px;
  left: 0;
  border-top: 1px solid #eeeeee;
  background-color: #f3f1f8;
  box-shadow: 0 4px 10px #00000042 !important;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.tb-claim-wrapper {
  position: relative;
  width: 94%;
  max-width: 520px;
}

.claim-row {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}