/* Container */
.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-trigger {
  cursor: pointer;
}

/* Tooltip Box */
.custom-tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  width: 280px;
  /* opacity: 0; */
  visibility: hidden;
  transition: 0.3s ease-out;
  z-index: 20;
}

.tooltip-wrapper:hover .custom-tooltip {
  /* opacity: 1; */
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

/* Tooltip Content Box */
.tooltip-content {
  position: relative;
  padding: 16px;
  background: linear-gradient(135deg, rgba(100, 72, 119, 0.529), rgba(228, 99, 235, 0.693));
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 25px rgb(98 5 120 / 26%);
  backdrop-filter: blur(4px);
  overflow: hidden;
}



/* Header */
.tooltip-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.tooltip-icon {
  width: 34px;
  height: 34px;
  background: rgba(99, 102, 241, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

/* Text */
.tooltip-desc {
  color: #fff;
  text-align: start;
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* Badge */
.tooltip-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #fff;
}

/* Tooltip Arrow */
.tooltip-arrow {
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translateX(-50%) rotate(45deg);
  background: linear-gradient(135deg, rgba(20, 20, 20, 0.95), rgba(30, 30, 30, 0.95));
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
